body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header .contenedor {
    display: flex; /*pone en linea horizontal dos bloques*/
    justify-content: space-between; /*separa el contenido a ambos extremos*/

}

header ul {
    display: flex; /*pone solo la lista de los ul en horizontal*/
}

header ul li {
    list-style: none; /*quita los puntos de la lista*/
    margin-right: 15px; /*separa 15px cada palabra de la lista*/
    /*list-style-type: none; tambien es valido*/
}

a {
    text-decoration: none; /*quita el subrayado de los textos o enlaces*/
}

a:hover{
    color: #5cb8ff;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header {
    background: 
    linear-gradient(rgba(84,93,220,.8),
    rgba(96,171,245,.8)), url(../images/fondo3.jpg);
    height: 100vh; /*rellena con la imagen toda la pagina web, aunq deformandola*/
    background-size: cover; /*adapta la imagen de fondo a toda la pantalla*/
}

#contenedor-titulo-flex {
    display: flex;
    justify-content: center; /*depende del flex*/
    margin: 18vh 33vh; /*le decimos q baje el 18% de la ventana y el 0 son lados derecho e izq*/
    width: 100%;
}

h1 {
    font-size: 60px;
    color: #fff;
    margin: 0;
}

h2 { 
    font-size: 25px;
    color: #fff;
    
}

.contenedor-titulo {
    text-align: center;
}

.contenedor-titulo a, #sobre-mi a, #blog a, #que-esperas a, 
#contacto input[type="submit"] {
    font-size: 14px;
    color: black;
    background: #5cb8ff;
    padding: 14px 24px;
    width: 128px;
    display: inline-block;
    
}
.contenedor-titulo a:hover, #sobre-mi a:hover, #blog a:hover, 
#que-esperas a:hover, #contacto input[type="submit"]:hover{
    /*color: #c3d7df;*/
    background-color: #a569bd ;
}
p.logo {
    color: #fff;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
}

/*SECCION SOBRE MI */

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal; /*le quita la negrita*/
}

#sobre-mi .contenedor-sobremi {
    display: flex;
    justify-content: space-around; /*separa dos bloques q estan muy juntos*/
}

#sobre-mi .texto {
    width: 42%; /*para verlo bien en dispositivos moviles*/
}

/*Seccion Servicios*/

.contenedor-servicios {
    display: flex;
    justify-content: space-around; /*separar las cajas*/
    flex-wrap: wrap; /*quitar si no cuadra con 3 servicios*/
    color: #fff;

}
.servicio {
    width: 24%;  /*quitar si no cuadra con 3 servicios*/
    padding: 34px 30px 38px 30px;
    /*
    padding-top: 34px;
    padding-right: 30px;
    padding-bottom: 38px;
    padding-left: 30px; */ /*estos es lo mismo q el paddin de arriba*/
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}
.servicio p {
    margin-bottom: 20px;
    height: 194px; /*para q los parrafos queden igual d tamaño y los iconos en linea*/
    text-align: justify;
}

/*ambas opciones se pueden googlear*/
.contenedor-servicios .violeta {
    background: linear-gradient(to top, #5055df, #6d68f3);
    box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3); /*color de la sombra y estilo*/
}
.contenedor-servicios .celeste{
    background: linear-gradient(to top, #40a8f9, #5cb8ff);
    box-shadow: 0 12px 30px 0 rgba(86, 163,222, .3);
}

.ondas {
    position: absolute;

}

.ondas {
    position: absolute;
    left: 0;
    bottom: 0;
}

.icon {
    float: right;
}

/*SECCION TRABAJOS*/

button.owl-prev, button.owl-next {
    font-size: 40px !important;
}
span {
    color: #71bcfa;
}

/*seccion porque trabajar conmigo*/

.contenedor-trabajar {
    display: flex;
    flex-wrap: wrap;
}

#por-que-trabajar .item {
    width: 28%;
    text-align: center;
}

#por-que-trabajar ul li {
    list-style: none;
}
/*usaremos herencia, aplicamos al elemento hijo de ul, osea el li 2(al titulo)*/
#por-que-trabajar ul li:nth-child(2) {
    font-weight: bold;
    font-size: 19px;
    margin-top: 5px; /*separa de la imagen*/
    margin-bottom: 20px; /*separa de abajo*/
}

#por-que-trabajar ul li:nth-child(3) {
    line-height: 31px; /*alto de linea*/
}

/* SECCION BLOG */
#blog {
    background: #F9FAFC;
}

#blog .contenedor-publicaciones {
    display: flex;
    justify-content: space-around;
}

#blog .publicacion {
    width: 30%;
    box-shadow: 1px 1px 14px #ccc;
}

#blog img {
    width: 100%;
}

#blog .contenido {
    background: #fff;
    padding: 20px;
}
#blog h4 {
    font-size: 23px;
    margin-bottom: 15px;
    margin: 0;
}

#blog p {
    color: #5A6169;
    line-height: 24px;
    font-size: 16px;
}

#blog a {
    width: 87px;
}

/*SECCION QUE ESPERAS*/

#que-esperas {
    background: linear-gradient(rgba(84,93,220,.94), rgba(96, 171, 245, .9));
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
}

#que-esperas h3 {
    font-size: 23px;
    color: #fff;
}

/*SECCION CONTACTO */

#contacto form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*acomoda los bloques para que encajen, si son pequeños no se notan los cambios*/
    width: 77%;
    margin: auto; /*para centrar el contenedor */
}

input[type="text"], input[type="email"] {
    width: 49%;
    margin-bottom: 15px;
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
}

textarea {
    padding: 18px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
    margin-bottom: 40px;
    width: 100%;
}

#contacto input[type="submit"] {
    width: 166px; /*agranda el tamaño del boton*/
    margin: auto; /*centra el boton*/
}

.contacto-info {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.contacto-info img {
    width: 50px;
    vertical-align: middle; /*centramos la imagen con el texto de lado*/
    margin-right: 10px; /*separa la imagen icon del texto*/
}

/*Seccion Footer*/

footer {
    background: #2f2f2f;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px; /*separa de la seccion de arriba*/
}

footer .contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column; /*coloca los iconos en columna , sobre el parrafo*/
}

footer img {
    width: 30px;
    margin: 0 40px;
    transform: rotate(0);
    transition: 0.4s;
}

footer img:hover {
    transform: rotate(360deg);
    transition: 0.4s;
}

footer p {
    color: #fff;
    margin-top: 40px; 
}

#whatsapp {
    position: fixed;
    top: 80%;
    right: -4%; /*empieza del lado derecho, si va aumentando se va mas a la izq, si la imagen es grande , seria mejor reducirle*/
    z-index: 100; /*la imagen se va por encima de todos los elemntos de la pagina*/
}

#whatsapp img {
    width: 50%;
}

html {
    scroll-behavior: smooth;
}

#blog, #contacto, #sobre-mi, #servicios, #mis-trabajos, #por-que-trabajar{
    padding: 40px 0;
}

.menu-icon {
    display: none;
}

@media (max-width: 800px) {
    
    .menu-icon {
        display: block;
        float: right;
        width: 40px;
        height: 35px;
        margin-top: 15px;
    }
    header nav {
        position: absolute;
        top: 83px;
        left: 0;
        height: 268px;
        background: #5cb8ff;
        width: 100%;
        display: none;
    }
    header nav ul {
        flex-direction: column;

    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 15px;
    }
    #sobre-mi .contenedor-sobremi {
        flex-direction: column;
    }
    #sobre-mi img {
        width: 100%;
    }
    #sobre-mi .texto {
        width: 100%;
    }
    .contenedor-servicios {
        flex-direction: column;
    }
    .servicio {
        width: 82%;
        padding: 34px, 30px, 69px, 30px;
    }
    .icon {
        margin-top: 23px; /*para mover el icono si choca con el texto*/
    }
    h3 {
        font-size: 43px;
    }
    .contenedor-trabajar {
        flex-direction: column;
    }
    #por-que-trabajar .item {
        width: 100%;
    }
    .item ul {
        padding: 0;
    }
    #blog .contenedor-publicaciones {
        flex-direction: column;
    }
    #blog .publicacion {
        width: 100%;
        margin-bottom: 40px;
    }
    #contacto form {
        width: 100%;
        flex-direction: column;
    }
    input[type="text"], input[type="email"] {
        width: 100%;
    }
    footer img {
        margin: 0 24px;
    }
    #whatsapp {
        width: 40%;
        top: 83%;
        right: -19%;
    }
}

@media (min-width:600px) and (max-width:800px) {
    header {
        height: 70vh;
    }
    .servicio {
        width: 70%;
        padding: 34px 30px 69px 30px;
        margin: auto;
        margin-bottom: 45px;
    }
    #blog .publicacion {
        width: 71%;
        margin: auto;
        margin-bottom: 40px;
    }
}